<button type="button" class="text-{{state}} btn btn-sm btn-outline tooltipped tooltipped-n js-menu-target" aria-label="View deployment status" aria-haspopup="true">
  {{icon state}}
  {{name}}
</button>
